<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="Rogue.MetroFire.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </sectionGroup>
 </configSections>
 <system.net>
		<connectionManagement>
			<add address="*" maxconnection="20"/>
		</connectionManagement>
	</system.net>
	<!--<system.diagnostics>
		<trace autoflush="true" />
		<sources>
			<source name="System.Net" maxdatasize="1024">
				<listeners>
					<add name="MyTraceFile"/>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
			<add
				name="MyTraceFile"
				type="System.Diagnostics.TextWriterTraceListener"
				initializeData="System.Net.trace.log"
                />
		</sharedListeners>
		<switches>
			<add name="System.Net" value="Verbose" />
		</switches>
	</system.diagnostics>-->
 <applicationSettings>
  <Rogue.MetroFire.UI.Properties.Settings>
      <setting name="UpdateCheckInterval" serializeAs="String">
          <value>00:30:00</value>
      </setting>
  </Rogue.MetroFire.UI.Properties.Settings>
 </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
