bin/
/bin
bin
obj/
Debug/
Release/
*.user
*.suo
_ReSharper.*/
*.~*
TestResults/
*.gpState
*.svclog
*.vssscc
*.sln.cache
*.dgml
UpgradeLog.XML
_UpgradeReport_Files/
*.orig
ProxiesBin/
/ProxiesBin
ProxiesBin
ProxiesBin/
/ProxiesBin
ProxiesBin
*.ncb
*.sdf
*.opensdf
*.obj

