<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="3.0.0.3001" requireReinstallation="true" />
  <package id="Castle.Windsor" version="3.0.0.3001" requireReinstallation="true" />
  <package id="Machine.Fakes" version="0.2.6" />
  <package id="Machine.Fakes.Moq" version="0.2.6" />
  <package id="Machine.Specifications" version="0.4.24.0" />
  <package id="Moq" version="4.0.10827" requireReinstallation="true" />
  <package id="reactiveui" version="2.5.1.0" />
  <package id="reactiveui-core" version="2.5.1.0" requireReinstallation="true" />
  <package id="reactiveui-testing" version="2.5.1.0" requireReinstallation="true" />
  <package id="reactiveui-xaml" version="2.5.1.0" requireReinstallation="true" />
  <package id="Rx_Experimental-Main" version="1.1.11011" requireReinstallation="true" />
  <package id="Rx_Experimental-Testing" version="1.1.11011" requireReinstallation="true" />
  <package id="Rx_Experimental-Xaml" version="1.1.11011" requireReinstallation="true" />
</packages>